.flight_status_board .heading {
	font-size: 20px;
	text-align: center;
}

.flight_status_board .list {
	padding: 0 20px;
	margin-top: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.list .flight_status {
	text-decoration: uppercase;
}